*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}
h1{
    width: 100%;
    text-align: center;
    background-color: rgb(68, 35, 89);
    color: white;
}
#darkmode{
    margin-bottom: 15px;
}